/* *************************************************************************************************************** */
                                /* CRIAÇÃO DOS DIVERSOS TIPOS DE LETRAS */

@font-face {
    font-family: "latoblack";
    src: url(..//fonts//lato-black.ttf);
}

@font-face {
    font-family: "latobold";
    src: url(..//fonts//lato-bold.ttf);
}

@font-face {
    font-family: "ibmplexbold";
    src: url(..//fonts//IBMPlexSans-Bold.ttf);
}

@font-face {
    font-family: "ibmplexlight";
    src: url(..//fonts//IBMPlexSans-Light.ttf);
}

@font-face {
    font-family: "ibmplexmedium";
    src: url(..//fonts//IBMPlexSans-Medium.ttf);
}

/* *************************************************************************************************************** */
                                    /* DIVERSOS TIPOS DE FONTES SOLICITADAS */

                                                /* GERAIS */

.T0{
    /* Titulo principal */
    font-family: 'ibmplexbold';
    font-size: 35px;
    text-transform: uppercase;
    color: #4d4d4d;
} 

.T1{
    /* Titulo por secções */
    font-family: 'ibmplexmedium';
    font-size: 25px;
    text-transform: uppercase;
    color: #4d4d4d;
} 

.T1Esp{
    /* Titulo por secções */
    font-family: 'ibmplexmedium';
    font-size: 25px;
    text-transform: uppercase;
    color: #4d4d4d;
} 

.FT1{
    /* Pareceu-me que as letras no footer estão mais pequenas que o mencionado no word */
    font-family: 'ibmplexmedium';
    font-size: 20px;
    text-transform: uppercase;
    color: #4d4d4d;
}

.P0{
    /* Textos gerais */
    font-family: 'ibmplexlight';
    font-size: 13px;
    color: #4d4d4d;
} 

.B0{
    /* Botão Saber Mais */
    text-transform: uppercase;
    font-family: 'ibmplexbold';
    font-size: 11px;
    margin-top: 5px;
}

/* *************************************************************************************************************** */
                                            /* BARRAS DE NAVEGAÇÃO */

.M0{
    /* Menus da barra de rodapé */
    font-family: 'latoblack';
    font-size: 16px;
    text-transform: uppercase;
    color: #4d4d4d;
} 

.M1{
    /* Menus da barra de navegação */
    font-family: 'latoblack';
    font-size: 18px;
    text-transform: uppercase;
    color: #4d4d4d;
} 

.M0:hover, .M1:hover{
    color: #b47d33;
}

.SM0{
    /* Sub-menus da barra de navegação */
    font-family: 'latobold';
    font-size: 13px;
    color: #4d4d4d;
} 

.SM1{
    /* Sub-menus da barra de navegação */
    font-family: 'ibmplexmedium';
    font-size: 13px;
    color: #4d4d4d;
} 

/* *************************************************************************************************************** */
                                                /* "BANNER" */

.T2{
    /* Titulo do Banner */
    font-family: 'ibmplexlight';
    font-size: 40px;
    text-transform: uppercase;
    color: #4d4d4d;
}

.N0{
    /* Novidade */
    font-family: 'latobold';
    letter-spacing: 1.2px;
    font-size: 13px;
    text-transform: uppercase;
    color: #b17e3b !important;
}

/* -> No Banner os textos têm a class "P" <- */

/* *************************************************************************************************************** */
                                            /* DESTAQUES PAGINA HOME */

.T3{
    /* Titulo dos "cards" dos Destaques */
    font-family: 'ibmplexbold';
    font-size: 23px;
    text-transform: uppercase;
    color: #4d4d4d;
} 

/* CONTACTOS */

.T4{
    /* Titulo dos contactos */
    font-family: 'ibmplexmedium';
    font-size: 15px;
    text-transform: uppercase;
    color: #b17e3b;
} 

.P1{
    /* Campos nos contactos */
    font-family: 'ibmplexlight';
    font-size: 15px;
    color: #4d4d4d;
}

/* *************************************************************************************************************** */
                                                    /* IMPRENSA */

.Pag1{
   /* Estilo de letras da paginação */ 
   font-family: 'ibmplexmedium';
   color: #4d4d4d;
   font-size: 23px;
}

.P2{
    /* Data da publicação */
    font-family: 'ibmplexmedium';
    font-size: 13px;
    text-transform: uppercase;
    color: #4d4d4d;
} 

/* *************************************************************************************************************** */
                                                    /* MEDIA QUERY'S */


@media all and (max-width: 768px){

    .T0{
        /* Titulo principal */
        font-size: 26px;
    } 

    .T1{
        /* Titulo por secções */
        font-size: 22px;
    }

    .T1Esp{
        /* Titulo por secções */
        font-size: 21px;
    }

    .T2{
        /* Titulo do Banner */
        font-size: 32px;
    }

    .P0{
        /* Texto do Banner */
        font-size: 13px;
    }

    .T4{
        /* Sub-titulo dos contactos */
        font-size: 13px;
    }

    .P1{
        /* Campos nos contactos */
        font-size: 13px;
    }

    .N0{
        /* Novidade */
        font-size: 15px;
    }

}
@media all and (max-width: 450px){

    .T0{
        /* Titulo principal */
        font-size: 23px;
    } 

    .T1{
        /* Titulo por secções */
        font-size: 21px;
    }

    .T1Esp{
        /* Titulo por secções */
        font-size: 18px;
    }

    .T2{
        /* Titulo do Banner */
        font-size: 28px;
    }

    .P0{
        /* Texto do Banner */
        font-size: 12px;
    }

    .T4{
        /* Sub-titulo dos contactos */
        font-size: 13px;
    }

    .P1{
        /* Campos nos contactos */
        font-size: 13px;
    }

    .N0{
        /* Novidade */
        font-size: 14px;
    }

}